<div ng-cloak>

    <h1>Customer Data</h1>

    Filter: <input type="text" ng-model="customerFilter.name">

    <div ng-controller="CustomersController">

        <h1>Customers</h1>


        <table>
            <tr>
                <th ng-click="doSort('name')">Name</th>
                <th ng-click="doSort('city')">City</th>
                <th ng-click="doSort('orderTotal')">Order Total</th>
                <th ng-click="doSort('joined')">Joined</th>
                <th>&nbsp;</th>
            </tr>

            <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse" >
                <td>{{ cust.name | uppercase}}</td>
                <td>{{ cust.city | lowercase}}</td>
                <td>{{ cust.orderTotal | currency:'£' }}</td>
                <td>{{ cust.joined | date:'dd-mm-yy' }}</td>
                <td><a href="#/orders/{{ cust.id }}">View Orders</a></td>
            </tr>
        </table>

        <br />

        <span>Total customers: {{ customers.length }}</span>


    </div>


</div>